<section id='todos'>
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
       <form action="/lists/<%= @list_index %>/complete" method="post">
          <button class='check' type="submit">Complete All</button>
        </form>
      </li>
      <li>
        <a class='edit' href='/lists/<%= @list_index %>/edit'>Edit List</a>
      </li>
    </ul>
  </header>

  <ul class='todo-list'>
    <% @list[:todos].each.with_index do |todo, index| %>
      <% if todo[:completed] %>
        <li class='complete'>
      <% else %>
        <li class='uncomplete'>
      <% end %>
        <form action="/lists/<%= @list_index %>/todos/<%= index %>/check" method="post" class="check">
           <input type="hidden" id="check" name="completed" value="<%= !todo[:completed] %>" />
           <button type="submit">Complete</button>
        </form>

        <h3><%= todo[:name] %></h3>

        <form action="/lists/<%= @list_index %>/todos/<%= index %>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
        </li>

    <% end %>
  </ul>
</section>

<form action="/lists/<%= @list_index %>/todos" method="post">
  <% @new_todo_name ||= nil %>
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text"
        value="<%= @new_todo_name || '' %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
    <a href="/lists/<%= @list_index %>">Cancel</a>
  </fieldset>
</form>


<% content_for :header_links do %>
  <a class='list' href='/lists'>All lists</a>
<% end %>
